.upperContainer {
  position: relative;
  background-color: var(--Purple-600);
  height: fit-content;
  min-height: 372px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.shaddow1 {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  right: 0px;
  gap: 0px;
  box-shadow: 0 0 100px 68px #8b45f47a, 0 0 2000px 250px #a06bf07a;
  backdrop-filter: blur(400px);
  z-index: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}
.shaddow2 {
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 0px;
  left: 30%;
  gap: 0px;
  background: transparent;
  box-shadow: 0 0 100px 68px #8b45f47a, 0 0 2000px 250px #a06bf07a;
  backdrop-filter: blur(400px);
  z-index: 2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation: pulse2 2s infinite;
  -webkit-animation: pulse2 2s infinite;
}
@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 100px 60px #8b45f47a, 0 0 2000px 200px #a06bf07a;
  }
  50% {
    box-shadow: 0 0 100px 68px #8b45f42d, 0 0 2000px 250px #a06bf01f;
  }
}
@keyframes pulse2 {
  0%,
  100% {
    box-shadow: 0 0 100px 68px #8b45f42d, 0 0 2000px 250px #a06bf01f;
  }
  50% {
    box-shadow: 0 0 100px 60px #8b45f47a, 0 0 2000px 200px #a06bf07a;
  }
}
.wordCyclerContainer {
  position: relative;
  height: 71px;
  overflow: hidden;
  width: 309px;
  min-width: fit-content;
  margin: auto;
}

.word {
  font-family: var(--monta);
  font-size: 60px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: -0.03em;
  text-align: center;
  text-decoration-skip-ink: none;
  color: #8548f4;
  position: absolute;
  left: 50%;
  width: fit-content;
  opacity: 1;
  transform: translateY(-100%) translateX(-50%);
  -webkit-transform: translateY(-100%) translateX(-50%);
  -moz-transform: translateY(-100%) translateX(-50%);
  -ms-transform: translateY(-100%) translateX(-50%);
  -o-transform: translateY(-100%) translateX(-50%);
  animation: wordCycle 6s infinite ease-in-out;
  -webkit-animation: wordCycle 6s infinite ease-in-out;
}

@keyframes wordCycle {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    -webkit-transform: translateY(0) translateX(-50%);
    -moz-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    -o-transform: translateY(0) translateX(-50%);
  }
  20% {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
    -webkit-transform: translateY(100%) translateX(-50%);
    -moz-transform: translateY(100%) translateX(-50%);
    -ms-transform: translateY(100%) translateX(-50%);
    -o-transform: translateY(100%) translateX(-50%);
  }
  40%,
  60% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    -webkit-transform: translateY(-100%) translateX(-50%);
    -moz-transform: translateY(-100%) translateX(-50%);
    -ms-transform: translateY(-100%) translateX(-50%);
    -o-transform: translateY(-100%) translateX(-50%);
  }
  80% {
    opacity: 0;
    transform: translateY(100%) translateX(-50%);
    -webkit-transform: translateY(100%) translateX(-50%);
    -moz-transform: translateY(100%) translateX(-50%);
    -ms-transform: translateY(100%) translateX(-50%);
    -o-transform: translateY(100%) translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
    -webkit-transform: translateY(0) translateX(-50%);
    -moz-transform: translateY(0) translateX(-50%);
    -ms-transform: translateY(0) translateX(-50%);
    -o-transform: translateY(0) translateX(-50%);
  }
}
.textAndLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.textContainer h4 {
  font-family: var(--monta);
  font-size: 60px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: -0.03em;
  text-align: center;
  text-decoration-skip-ink: none;
  color: var(--Indigo-100);
}
.getStarted {
  min-height: 42px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--Indigo-100);
  position: relative;
  cursor: pointer;
  font-family: var(--monta);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  text-decoration-skip-ink: none;

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.getStarted::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--Indigo-100);
  transition: all 0.4s ease;
}
.getStarted:hover {
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.4s ease;
}
.getStarted:hover::after {
  width: 100%;
  transition: all 0.4s ease;
}
/* lower container */
.lowerContainer {
  position: relative;
  height: fit-content;
  min-height: 171.17px;
  background-color: #381f66;
  padding: 30px 165px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 28px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.lowerContainerLogo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.lowerContainerLogo .links {
  width: 80%;
}
.lowerContainerLogo .links .linksList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  list-style: none;
}
.lowerContainerLogo .links .linksList .link {
  font-family: var(--space);
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-decoration-skip-ink: none;
}
.lightLink {
  color: var(--Indigo-100);
}
.darkLink {
  color: var(--Indigo-200);
}
.betweenLine {
  width: 100%;
  height: 1px;
  background: var(--Purple-900);
  opacity: 0.2;
  z-index: 10;
}
.shaddow3 {
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: 50%;
  left: 0%;
  gap: 0px;
  opacity: 0px;
  background: transparent;
  box-shadow: 0 0 1000px 48vw #7230d5, 0 0 2000px 550px #7230d553;
  backdrop-filter: blur(400px);
  z-index: 3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 10;
}
.lowerContainerContact {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  font-family: var(--space);
  color: var(--Indigo-100);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-decoration-skip-ink: none;
  z-index: 10;
}
.lowerContainerContact p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 12px;
  height: 24px;
  z-index: 10;
}
.lowerContainerContact p span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  z-index: 10;
}
.lowerContainerContact p span img {
  width: 20px;
  height: 16px;
  margin: auto;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .upperContainer {
    overflow: visible;
  }
  .shaddow1 {
    top: 100%;
    left: 50%;
    animation: none;
    -webkit-animation: none;
    box-shadow: 0 0 100px 20px #8b45f47a, 0 0 2000px 150px #a06bf07a;
  }
  .shaddow2 {
    display: none;
  }
  /* lower container */
  .lowerContainer {
    height: fit-content;
    min-height: auto;
    padding: 36px 40px 27px 40px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0px;
  }
  .lowerContainerLogo {
    height: 100%;
    display: flex;
    align-self: center;
    justify-content: none;
    z-index: 10;
    padding-bottom: 42.3px;
  }
  .siteMap {
    padding: 16px 0px;
  }
  .siteMap h5 {
    font-family: var(--space);
    color: var(--neutral-1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5px;
  }
  .responsiveFooter .linksList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    text-align: start;
  }

  .responsiveFooter .linksList .link {
    font-family: var(--space);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: start;
    text-decoration-skip-ink: none;
  }
  .darkLink,
  .lightLink {
    color: var(--neutral-1);
  }
  .lowerContainerSocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 153px;
    height: 21px;
    margin: 21px auto 26px auto;
  }
  .responsiveLowerContainerEmail {
    align-self: center;
    color: var(--neutral-1);
  }
  .responsiveLowerContainerEmail p {
    text-align: center;
    font-family: var(--monta);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-decoration-skip-ink: none;
  }
}
@media screen and (max-width: 768px) {
  .textContainer h4 {
    font-family: var(--monta);
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -3%;
    text-align: center;
    text-decoration-skip-ink: none;
  }
}

@media screen and (max-width: 432px) {
  .upperContainer {
    overflow: visible;
  }
  .shaddow1 {
    top: 100%;
    left: 50%;
    animation: none;
    -webkit-animation: none;
    box-shadow: 0 0 100px 20px #8b45f47a, 0 0 2000px 150px #a06bf07a;
  }
  .shaddow2 {
    display: none;
  }
}
