.element {
  margin: auto 200px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .element {
    margin: auto 32px;
  }
  .element img {
    width: 60px;
    height: 60px;
  }
}

.iconMarquee {
  position: relative;
  height: 152px;
  width: 100vw;
  overflow: hidden;
}
@keyframes scrollLeft {
  to {
    left: -600px;
  }
}
.iconMarqueeItem {
  position: absolute;
  width: 100px;
  left: 100%;
  top: 50%;
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.iconMarqueeItem img {
  width: 100%;
  margin: auto 40px;
}

.iconMarqueeItem1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.iconMarqueeItem2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.iconMarqueeItem3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.iconMarqueeItem4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.iconMarqueeItem5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.iconMarqueeItem6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.iconMarqueeItem7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}
.iconMarqueeItem8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
