.heroContainer {
  position: relative;
  height: fit-content;
  min-height: 876px;
  z-index: 1;
}
.heroContainer .heroImg1 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 33.2%;
  z-index: 2;
  opacity: 0.3;
}
.heroContainer .heroImg1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.heroContainer .heroImg2 {
  position: absolute;
  top: 0;
  left: 45.27%;
  height: 100%;
  width: 15.972%;
  z-index: 2;
  opacity: 0.3;
}
.heroContainer .heroImg2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.bgShade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(56, 31, 102, 0.4); */
  z-index: 3;
}
.heroContent {
  position: absolute;
  width: 81%;
  left: 100px;
  top: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  z-index: 10;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.heroContent h4 {
  font-size: 36px;
  line-height: 45.94px;
  font-weight: 500;
  background-color: var(--neutral-12);
  padding: 0 8px;
  color: var(--Indigo-100);
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
  font-family: var(--space);
  margin-bottom: 24px;
  border-top-left-radius: 18px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 18px;
}
.heroContent h2 {
  font-family: var(--monta);
  font-size: 105px;
  font-weight: 700;
  line-height: 95px;
  letter-spacing: -7.199999809265137px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: var(--neutral-1);
  margin-bottom: 18px;
}
.heroContent h2 span {
  color: #8548F4;
}
.heroContent p {
  width: 75%;
  font-family: var(--monta);
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: var(--neutral-1);
}
@media screen and (max-width: 768px) {
  .heroContainer {
    min-height: 521px;
    padding-top: 80px;
  }
  .heroContainer .heroImg1 {
    width: 61.62%;
  }
  .heroContainer .heroImg2 {
    left: 0;
    width: 29.7%;
  }
  .heroContent {
    left: 0px;
    padding: 0px 20px;
    width: 100%;
  }
  .heroContent h4 {
    font-size: 20px;
    line-height: 25.52px;
    margin-bottom: 31px;
    margin-top: 80px;
  }
  .heroContent h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: -1px;
    margin-bottom: 21px;
  }
  .heroContent p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    width: 100%;
  }
}
