.talentContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 88%;
  height: 700px;
  max-height: 700px;
}
.talentImage {
  width: 58%;
  height: 700px;
  max-height: 700px;
  margin: 0 auto;
}
.talentImage img {
  width: 100%;
  max-height: 700px;
  height: 100%;
  object-fit: cover;
}
.talentContent {
  width: 42%;
  height: 100%;
  text-align: start;
  flex-direction: column;
  padding: 32px 52px 32px 32px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--neutral-1);
  font-family: var(--monta);
  text-align: left;
  background-color: var(--Indigo-800);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.talentContent h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-decoration-skip-ink: none;
  margin-bottom: 24px;
  font-family: var(--monta);
}
.talentContent h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-decoration-skip-ink: none;
  margin-bottom: 20px;
  font-family: var(--monta);
}
.talentContent p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-decoration-skip-ink: none;
}
.talentContentBottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  gap: 32px;
  color: var(--neutral-1);
  font-family: var(--space);
}
.talentContentBottomText {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 32px;
}
.talentContentBottomText::before {
  position: absolute;
  content: "";
  top: -24px;
  left: 0;
  height: 0.6px;
  width: 100%;
  background-color: var(--neutral-1);
  opacity: 0.4;
}
.talentContentBottomText span {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
  width: 100%;
}
.talentContentBottomBtn {
  width: 140px;
  height: 40px;
  background-color: var(--neutral-1);
  padding: 12px 24px;
  color: var(--Indigo-800);
  font-family: var(--space);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-decoration-skip-ink: none;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
@media screen and (max-width: 1024px) {
  .talentContainer {
    flex-direction: column;
    height: fit-content;
    min-height: 488px;
    max-height: fit-content;
    width: 100%;
  }
  .talentImage {
    width: 100%;
    height: 408px;
    margin: 0 auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .talentImage img {
    width: 100%;
    min-height: 408px;
    height: 408px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .talentContent {
    width: 100%;
    height: fit-content;
    padding: 32px 26px 32px 32px;
    gap: 64px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: -12px;
  }
  .talentContent h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .talentContent p {
    font-size: 18px;
    line-height: 24px;
  }
  .talentContentBottomText {
    gap: 12px;
  }
  .talentContentBottomText span {
    font-size: 14px;
  }
}
