/* Neon glow */
.neonGlow {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 0;
  transition: width 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.8),
    0 4px 25px rgba(143, 72, 250, 0.534), 0 4px 50px rgba(255, 0, 255, 0.8);
  background: linear-gradient(
    90deg,
    rgb(143, 72, 250),
    rgba(143, 72, 250, 0.534)
  );
}
.neonGlow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 80px;
  width: 150%;
  min-width: 100%;
  background: linear-gradient(to bottom, rgba(87, 72, 250, 0.322), transparent);
  clip-path: polygon(18% 0%, 82% 0%, 104% 100%, -4% 100%);
  z-index: -1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* end neon glow */
.teamContainer {
  width: 86.1%;
  margin: auto;
  height: fit-content;
}
.teamHeaderContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}
.teamHeaderContentLine {
  display: flex;
  width: 60%;
  gap: 40px;
  color: var(--Indigo-100);
}
.teamHeaderContentLine h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 45.94px;
  min-width: 180px;
  text-align: center;
  background-color: var(--Indigo-900);
  height: fit-content;
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
  font-family: var(--monta);
  border-top-left-radius: 18px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 18px;
}
.teamHeaderContentLine p {
  font-family: var(--space);
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  text-decoration-skip-ink: none;
}
.teamHeaderContentBtn {
  width: 157px;
  height: 60px;
}
/* .teamCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
} */
.teamCards {
  display: flex;
  height: 300px;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .teamHeaderContentLine {
    width: 80%;
    gap: 30px;
  }
  .teamCards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .teamContainer {
    width: 93%;
  }
  .teamHeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 18px;
  }
  .teamHeaderContentLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: fit-content;
    gap: 18px;
    color: var(--Indigo-100);
  }
  .teamHeaderContentLine h2 {
    font-size: 30px;
    line-height: 35.52px;
    width: fit-content;
  }
  .teamHeaderContentLine p {
    text-align: center;
  }
  .teamHeaderContentBtn {
    width: 157px;
    height: 60px;
  }
  .teamCards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }
}
@media screen and (max-width: 432px) {
  /* Neon glow */
  .neonGlow {
    max-width: 50%;
    margin-bottom: 16px;
  }
  .neonGlow::after {
    clip-path: polygon(17% 0%, 83% 0%, 104% 100%, -4% 100%);
  }
  /* end neon glow */
  .teamHeaderContent {
    margin-bottom: 24px;
  }
  .teamHeaderContentLine h2 {
    font-size: 20px;
    line-height: 25.52px;
  }
  .teamHeaderContentLine p {
    text-align: center;
  }
  .teamHeaderContentBtn {
    width: 157px;
    height: 60px;
  }
}
