.section {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: fit-content;
  padding-top: 135px;
  padding-bottom: 135px;
  height: fit-content;
}
.bgShade{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6b2ec74c;
  z-index: 1;
}

.contactUs {
  width: 100%;
  height: fit-content;
  background-image: url("../../../../public/contact/contact.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.contactUs .form {
  justify-self: flex-end;
  margin: auto 103px auto auto;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .contactUs {
    background: none;
  }
  .contactUs .form {
    justify-self: center;
    margin: auto;
    width: 90%;
  }
}
