.section {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  padding-top: 135px;
  padding-bottom: 135px;
  height: fit-content;
}
.lightBg1 {
  position: absolute;
  top: 25%;
  left: 33%;
  width: 0%;
  height: 0%;
  z-index: 4;
  box-shadow: 50px 0 2000px 150px #b300ff6b, 450px 0 2000px 150px #5100ff53;
}
.lightBg2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 0%;
  height: 0%;
  z-index: 4;
  box-shadow: 130px 100px 1300px 120px #eb00ffe0;
}
.hashBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.016;
}
.hashBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactUs {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  z-index: 10;
  margin: auto;
  padding: 0px 115px;
}
.contactUs .form {
  justify-self: flex-start;
  margin: auto 0;
  width: fit-content;
  
  z-index: 10;
}
.contactUs .pyramids {
  min-width: 535px;
  height: 100%;
  min-height: 376px;
  animation: pyramids 4s infinite;
  -webkit-animation: pyramids 4s infinite;
}
@keyframes pyramids {
  0% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}
  50% {
    transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
}
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}
  
}
.contactUs .pyramids img {
  
  /* max-width: 535px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .contactUs {
    flex-direction: column-reverse;
    padding: 0px 16px;
  }
  .contactUs .pyramids {
    min-width: 335px;
    width: 100%;
    height: 100%;
    min-height: 376px;
  }
  
}
@media screen and (max-width: 768px) {
  .section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .contactUs {
    background: none;
    padding: 0px 14px;
  }
  .contactUs .form {
    justify-self: center;
    margin: auto;
    width: 90%;
  }
}
