.forHeroContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  gap: 21px;
  background-color: var(--Indigo-900);
  height: fit-content;
  padding-top: 155px;
  padding-bottom: 107px;
}
.forShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.02;
  object-fit: cover;
  top: 0;
}
.forShadow img {
  width: 100%;
  height: 100%;
}
.forTexts {
  position: relative;
  width: 66.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin: auto;
  z-index: 10;
}
.forTexts h4 {
  font-size: 36px;
  line-height: 45.94px;
  font-weight: 500;
  background-color: var(--neutral-12);
  padding: 0 8px;
  color: var(--Indigo-100);
  clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
  font-family: var(--space);
  margin-bottom: 21px;
  border-top-left-radius: 18px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 18px;
}
.forTexts h2 {
  font-family: var(--monta);
  font-size: 105px;
  font-weight: 700;
  line-height: 110px;
  letter-spacing: -7.199999809265137px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: var(--neutral-1);
  margin-bottom: 32px;
}
.forTexts h2 span {
  color: var(--Indigo-200);
}
.forTexts p {
  width: 100%;
  font-family: var(--monta);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-decoration-skip-ink: none;
  color: var(--neutral-1);
}
.forMarquee {
  height: fit-content;
}
.forBtn {
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .forHeroContainer {
    gap: 0;
  }
  .forTexts {
    width: 100%;
    padding: 0px 21px;
  }
  .forTexts h4 {
    font-size: 20px;
    line-height: 25.52px;
    margin-bottom: 17px;
  }
  .forTexts h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -3px;
    text-decoration-skip-ink: none;
    margin-bottom: 14px;
  }
  .forTexts p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 14px;
  }
}
